
<div class="d-flex justify-content-center ">
<h1 >Sucursales</h1>
</div>
 <%= link_to "Nueva sucursal", new_office_path %>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">Sucursal</th>
      <th scope="col">Visualizar</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>


 <tbody>
    <tr>
    
  <% @offices.each do |office| %>
    <li>
        <%= link_to office.name, office %>
    </li>
  <% end %>
   </tr>
  </tbody>
</table>



