        <div>
        <p class="dasys">
            Dias:
            <%= schedule.days %>
        </p>
      
        
        <p classs="horario">
            Apertura:   <%= schedule.start_at.strftime('%H:%M') %>
        </p>

        <p classs="horario">
          Cierre
            <%= schedule.end_at.strftime('%H:%M') %>
        </p>

        <p>
        <%= link_to "Eliminar", [schedule.office, schedule], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Esta seguro?"
                } %>
        </p>
          </div>