        <div>
        <ul class="dasys">
             <li> <%= schedule.days %>
    
            <%= schedule.start_at.strftime('%H:%M') %> a
          
            <%= schedule.end_at.strftime('%H:%M') %>
            </li>
        </ul>

      </div>
   