<div class= "card card-office">

    <div class="view-schedules-section flex-column">

        <h2> <%= @office.name %>  - Horario de atencion </h2>
        <%= render @office.schedules, office: @office  %>

        <h3>Agregar horarios:</h3>
        <%= render 'schedules/form', office: @office, days: @days %>

    </div>
</div>