<div class= "card card-office">

    <div class="view-schedules-section flex-column">

        <h2> <%= @office.name %>  - Horario de atencion </h2>
        <%= render @office.schedules %>

    </div>
</div>