<div class= "card card-office">

    <div class="view-schedules-section flex-column">

        <h2> <%= @office.name %>  - Horario de atencion </h2>
        <%= render @office.schedules, office: @office  %>

        <%= button_to "Crear horario",  new_office_schedule_path(@office.id) , class: ' btn btn-outline-dark new-office-button' , :method => :get %> 

         
    </div>
</div>