<h1>Reiniciar la clave</h1>

<%= form_with url: reset_password_path do |form| %>
  <div class="mb-3">
    <% form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder: "Ej: usuario@mail.com" %>
  </div>

  <div>
    <%= form.submit value="Reiniciar clave", class:"btn btn-primary" %>
  </div>
<% end %>